mixin hours()
  form.reviewer(action="#")
    .dataDiv
     h6 Monday : #{directory.mondayHours}
     h6 Tuesday :  #{directory.tuesdayHours}
     h6 Wednesday : #{directory.wednesdayHours}
     h6 Thursday : #{directory.thursdayHours}
     h6 Friday : #{directory.fridayHours}
     h6 Saturday : #{directory.saturdayHours}
     h6 Sunday : #{directory.sundayHours}