mixin jobData(job)
  form.reviewer(action="#")
    .dataDiv
      h6 Full Time or Part Time? : #{job.ftpt}
      if job.salary
       h6 salary : #{job.salary}
      if job.requirements 
       h6 Requirements :  #{job.requirements}
      if job.tags
       h6 Groomer Type : #{job.tags}
    if job.closed
      null
    else
      if user
        p Contact info Below is Displayed Because You're a Member :) 
        .contactInfo
          if job.contact
            h6 Contact Info : #{job.contact}
          else
            h6 No phone number provided  
          if job.email
            h6 #{job.email}  
          else
            h6 No email address provided

      
